.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;

  &__tab {
    width: 50%;
    background: linear-gradient(90deg, #C5C5C5 -28.11%, rgba(219, 220, 223, 0.851047) 12.12%, rgba(222, 223, 226, 0.833333) 100%);
    border: none;
    height: 45px;
    font-size: 20px;
    font-weight: bold;

    &:first-child {
      -webkit-border-radius: 5px 0 0 0;
      -moz-border-radius: 5px 0 0 0;
      border-radius: 5px 0 0 0;
    }
    &:last-child {
      -webkit-border-radius: 0 5px 0 0;
      -moz-border-radius: 0 5px 0 0;
      border-radius: 0 5px 0 0;
    }
    &.active {
      background: #fff;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      padding-top: 7px;
      height: 52px;
    }
    &:not(.active) {
      cursor: pointer;
      &:hover {
        background: #ccc;
      }
    }
  }
}


.tab-content {
  background: #fff;
  padding: 33px 30px 45px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  width: 365px;
  position: relative;
}

.tabs__loading {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 400px) {
  .tab-content {
    width: 100%;
  }

}